In [23]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [41]:
def extract():
    data = pd.read_csv("adult.csv")
    return data

In [78]:
def transform(data:dict) -> pd.DataFrame:
    df = pd.DataFrame(data)
    print(f"The total number of adults in this census log are: {len(data)}")
    df = df[(df["age"] >= 30) & (df["age"] <= 50)]
    print(f"The total number of adults between age 30 and 50 are: {len(df)}")
    df = df.drop(columns=['capital.loss'])
    df = df.drop(columns=["capital.gain"])
    df = df[df["race"] != "White"]
    df = df[df["income"] == ">50K"]
    print(f"The number of non-white adults that make more than 50K a year, according to this census are {len(df)}/32561 adults")
    per = len(df)
    return df

In [79]:
data = extract()
transform(data)

The total number of adults in this census log are: 32561
The total number of adults between age 30 and 50 are: 16390
The number of non-white adults that make more than 50K a year, according to this census are 509/32561 adults

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,hours.per.week,native.country,income
10,45,Private,172274,Doctorate,16,Divorced,Prof-specialty,Unmarried,Black,Female,35,United-States,>50K
87,43,Federal-gov,156996,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,55,?,>50K
90,39,Private,198654,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,67,India,>50K
95,46,Private,192963,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,35,Philippines,>50K
214,42,Self-emp-inc,23510,Masters,14,Divorced,Exec-managerial,Unmarried,Asian-Pac-Islander,Male,60,India,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31815,43,Private,169628,Bachelors,13,Never-married,Sales,Unmarried,Black,Female,35,United-States,>50K
31841,38,Local-gov,161463,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Black,Male,40,United-States,>50K
31918,33,Private,72338,Prof-school,15,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,65,Japan,>50K
32183,48,Private,350440,Some-college,10,Married-civ-spouse,Craft-repair,Other-relative,Asian-Pac-Islander,Male,40,Cambodia,>50K
32467,33,Private,139057,Masters,14,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,50,United-States,>50K