In [4]:
import pandas as pd
import numpy as np

In [5]:
def extract():
    data = pd.read_csv('heart_disease_data_with_features.csv')
    return data

In [6]:
data = extract()
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,...,chol_trestbps_ratio,log_thalach_chol,symptom_zscore,avg_chol_by_age_group,thalach_chol_diff,symptom_severity_diff,age_chol_effect,thalach_risk_effect,age_trestbps_effect,chol_risk_ratio
0,63,1,1,145,233,1,2,150,0,2.3,...,1.595890,0.919704,-0.275764,260.024691,-83,-2.532099,14679,2419.350,9135,13.602662
1,67,1,4,160,286,0,2,108,1,1.5,...,1.776398,0.828936,0.568702,260.024691,-178,1.167901,19162,2242.296,10720,13.142174
2,67,1,4,120,229,0,2,129,1,2.6,...,1.892562,0.895083,1.572932,260.024691,-100,5.567901,15343,2134.047,8040,13.053640
3,37,1,3,130,250,0,0,187,0,3.5,...,1.908397,0.947695,1.595755,219.785714,-63,8.178571,9250,1972.850,4810,21.645022
4,41,0,2,130,204,0,2,172,0,1.4,...,1.557252,0.968116,-0.161647,235.847222,-32,0.783333,8364,1662.208,5330,19.129782

In [52]:
def transform(data: dict) -> pd.DataFrame:
    df = pd.DataFrame(data)
    df.dropna()
    print(f'The number of humans in this study are: {len(df)}')
    print('Since we are focusing on heart disease, I am interested in the outliers,\nand not very concerned with over the age of 40')
   #print(df.columns)
    df = df[df["age"] < 40]
    print(f'There are {len(df)} samples under 40')
    print("I also am only interested in patients with mild to severe pain")
    df = df[df["cp"] == (3 or 4)]
    print(f"This leaves us with {len(df)} results")
    return df

In [57]:
df = transform(data)

The number of humans in this study are: 303
Since we are focusing on heart disease, I am interested in the outliers,
and not very concerned with over the age of 40
There are 15 samples under 40
I also am only interested in patients with mild to severe pain
This leaves us with 6 results

In [58]:
from sqlalchemy import create_engine

In [59]:
def load(df):
    engine = create_engine('sqlite:///example.db')
    df.to_sql('A.D.H ETL',con=engine,if_exists='replace',index=False)

In [60]:
load(df)